<h1>Dein Verein: {{vm.data.name}}</h1>
<p style="float:left; text-align:left; margin-bottom:0;">
    <a class="pagenava" href="/freundeWerben.php">Freunde einladen</a>
</p>
<p style="text-align:left; margin-bottom:0;">
    <img style="width:16px; height:16px; vertical-align:middle;" src="img/icon_spieler.png" width="16" alt="Freunde einladen">    Lade Deine Freunde ein und erhalte 7,5 Mio. Bonus! </p>
<div style="clear:both;"></div>
<table>
    <thead>
        <tr class="odd">
            <th scope="col">Bereich</th>
            <th scope="col">Vereinsdaten</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Liga</td>
            <td>{{vm.data.rank}}. Platz</td>
        </tr>
        <tr class="odd">
            <td>Pokal</td>
            <td>{{ vm.getPokalRound(vm.data.pokal) }}</td>
        </tr>
        <tr>
            <td>Cup</td>
            <td>{{ vm.getCupRound(vm.data.cuprunde) }}</td>
        </tr>
        <tr class="odd">
            <td>RKP</td>
            <td>{{vm.data.elo | number: 0}} Punkte</td>
        </tr>
        <tr>
            <td>Kontostand</td>
            <td>{{vm.data.konto | number: 0}} €</td>
        </tr>
        <tr class="odd">
            <td>Einsatz in Auktionen</td>
            <td>{{vm.data.einsatzInAuktionen | number: 0}} €</td>
        </tr>
        <tr>
            <td>Verfügbares Geld</td>
            <td>{{vm.data.konto - vm.data.einsatzInAuktionen | number: 0}} €</td>
        </tr>
        <tr class="odd">
            <td>Aufstellungsstärke</td>
            <td><img src="img/balken/{{vm.getAufstellungsstaerke(vm.data.aufstellung)}}.png" alt=""></td>
        </tr>
        <tr>
            <td>Kaderstärke</td>
            <td><img src="img/balken/{{vm.getKaderstaerke(vm.data.staerke)}}.png" alt=""></td>
        </tr>
        <tr class="odd">
            <td>Jugendabteilung</td>
            <td class="link"><a href="/kader.php#besetzung">{{ vm.getPosToSearchName(vm.data.posToSearch) }}</a></td>
        </tr>
        <tr>
            <td>Nächster Jugendspieler</td>
            <td>{{vm.data.nextYouth}} (Spieltag {{vm.data.nextYouthDay}})</td>
        </tr>
        <tr class="odd">
            <td>Testspiele</td>
            <td class="link"><a href="/testspiele.php">{{ vm.testspielTrans(vm.data.wantTests) }}</a></td>
        </tr>
        <tr>
            <td colspan="2"><img style="vertical-align: middle;" alt="Systemzeit" src="img/clock.gif" width="16"> {{vm.data.serverTime}}</td>
        </tr>
    </tbody>
</table>
<h1>Kürzeste Verträge</h1>
<p>Die Verträge der folgenden Spieler laufen als Nächstes aus. Du solltest sie rechtzeitig verlängern, damit die Spieler bei
    Deinem Verein bleiben:</p>
<table>
    <thead>
        <tr class="odd">
            <th scope="col">Spieler</th>
            <th scope="col">Alter</th>
            <th scope="col">Vertrag bis</th>
            <th scope="col">Gehalt</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="player in vm.data.shortContracts" ng-class-even="'odd'">
            <td class="link"><a href="/spieler.php?id={{player.ids}}">{{player.vorname}} {{player.nachname}}</a></td>
            <td>{{Math.floor(player.wiealt / 365)}}</td>
            <td>{{player.vertrag}}</td>
            <td>{{player.gehalt | number: 0}} €</td>
        </tr>
    </tbody>
</table>
<h1>Suche nach Teams oder Managern</h1>
<form ng-submit="vm.searchForTeamOrManager()" accept-charset="utf-8">
    <p>
        <input type="text" ng-model="vm.searchInput" style="width:200px" value="">
        <input type="submit" value="Suchen">
    </p>
</form>
<h1 ng-if-start="vm.showSearchResult">Suchergebnisse (maximal 10/10)</h1>
<ul ng-if-end>
    <li ng-repeat="team in vm.matchedTeams"><strong>Team:</strong> <a href="/team.php?id={{team.ids}}">{{team.name}}</a></li>
    <li ng-repeat="manager in vm.matchedManager"><strong>Manager:</strong> <a href="/manager.php?id={{manager.ids}}">{{manager.username}}</a></li>
</ul>
<h1>Fairplay und Multi-Accounts</h1>
<p>Wie im Sport genießt auch bei uns das Fairplay absolute Priorität.</p>
<p>Pro Person ist nur ein Account erlaubt. Bekannte, Freunde oder die geliebte Familie dürfen natürlich vom selben Internet-Anschluss
    aus mitspielen.</p>
<p>Solltest Du aber gemeinsam mit Anderen einen Rechner benutzen, unterliegt dieses Vorgehen einer Auflage, welche das Fairplay
    gewährleisten und schützen soll:<br>Unter allen diesen Accounts sind jegliche Aktivitäten, die einem der Accounts einen
    Vorteil verschaffen können, untersagt. Ansonsten genießen diese Accounts selbstverständlich die gleichen Rechte, Pflichten
    und Spielfunktionen wie die Einzelspieler.</p>