<h1>Kostenloser Online-Fußball-Manager</h1>
<p>
    <strong>Du bist der Trainer. Du bist der Manager. Du hast alles in der Hand!</strong>
</p>
<p>
    + Übernimm Deinen eigenen Fußballklub!<br /> + jeden Tag 1 bis 4 Spiele (Liga + Pokal)<br /> + einfach im Browser managen
    &mdash; keine Installation<br /> + garantiert kostenlos &mdash; auch in Zukunft<br /> + keine Premium-Accounts &mdash;
    gleiche Chancen für alle<br />+ schneller Einstieg<br /> + langfristiger Spielspaß<br /> + tolle Community<br /> + wenig
    Zeitaufwand
    <br /> + LIVE-Spiele &mdash; spannend bis zum Ende<br /> + Urlaubsvertretung durch den Computer (10-30 Tage)</p>
<h1>Jetzt registrieren</h1>
<div class="imtext">
    <p>
        <label for="reg_benutzername">Dein gewünschter Managername:</label>
        <input type="text" id="reg_benutzername" ng-model="vm.rUsername" style="width:200px" />
        <label for="reg_email">Deine E-Mail-Adresse:</label>
        <input type="text" id="reg_email" ng-model="vm.rEmail" style="width:200px" />
    </p>
    <p>
        <button ng-click="vm.checkDataForRegistration()">Jetzt kostenlos mitspielen</button>
    </p>
    <p>Du kannst Deine Daten anschließend noch einmal prüfen, sie werden noch nicht gespeichert. Du darfst Dich nur ein einziges
        Mal registrieren und nur einen Verein haben.
    </p>
</div>