<div class="col-md-4 col-md-offset-4">
    <div>
        <label for="email" class="">E-Mail-Adresse</label>
        <input id="email" ng-model="user.email" type="email" placeholder="E-Mail-Adresse">
    </div>
    <div>
        <label for="pw" class="">Passwort</label>
        <input id="pw" ng-model="user.password" type="password" placeholder="Passwort">
    </div>
    <div>
        <button class="" ng-click="login(user)">Anmelden</button>
        <button class="" ng-click="forgotPasswort()">Anmeldedaten vergessen</button>
    </div>
</div>
